{{>header}}

    <p>Ingresar al Chat</p>  
   	<form id="formulario" action="/salaChat" >
   		<input type="text" id="nombre" placeholder="Alias o apodo" name="nombre" required>   	
     	<button> Entrar </button>   		
   	</form>
    <div id="chat"></div>    

{{>footer}}	 


