{{>header}}

    <p>Sala de Chat</p>  
   	<form id="formulario">
   		<input type="text" id="texto" >
         <button> enviar </button>   		
   	</form>
    <div id="chat"></div>
    <script src="socket.io/socket.io.js"></script>
    <script src="js/socket.js"></script>

{{>footer}}	 


